@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlertMe</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/assets/js/plugins/moment.min.js"></script>
    <script src="~/lib/assets/js/plugins/bootstrap-datetimepicker.js"></script>

    <environment include="Development">
        <link rel="icon" type="image/x-icon" href="~/favicon.ico">
        <link rel="stylesheet" href="~/lib/assets/css/material-kit.min.css">
        <link rel="stylesheet" href="~/lib/assets/css/material-kit.css.map">
        <link rel="stylesheet" href="~/lib/assets/demo/demo.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/assets/css/material-kit.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>

</head>

<body onload="fetchNotifications()">
    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#NavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img class="img-fluid img-raised" style="width: 2rem" src="~/images/alert.png"/>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Home", "Index", "Home")</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Alerts", "Alerts", "Home") </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("About", "About", "Home") </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" @Html.ActionLink("Contact", "Contact", "Home") </a>
                    </li>
                </ul>

                <partial name="_LoginPartial" />

            </div>

            @if (SignInManager.IsSignedIn(User))
            {
            <a class="btn btn-sm btn-social btn-link notification float-right mr-3" data-toggle="popover" data-placement="bottom"
               data-html="true" title="Notification" data-content="" data-container="body" onclick="fetchNotifications()">
                <i class="material-icons">notifications</i>
                <i class="material-icons text-rose new-notif" style="margin-top:-20px; margin-left:-12px; font-size:8px">info</i>
            </a>
                
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" 
                        method="post" id="logoutForm" class="navbar-right mr-2">
                    <button type="submit" class="btn btn-sm btn-social btn-link notification float-right">
                        <i class="material-icons text-white">power_settings_new</i>
                    </button>
                </form>

            }
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/assets/js/core/popper.min.js" type="text/javascript"></script>
        <script src="~/lib/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="~/lib/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
        <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
        <script src="~/lib/assets/js/material-kit.js?v=2.0.5" type="text/javascript"></script>

    </environment>
    @RenderSection("Scripts", required: false)

    <script>
        var new_notification = $(".new-notif");
        var notification = $('.notification');
        $(document).on('click', function (e) { // closes if any pop over is opened .. for notification
            $('[data-toggle="popover"],[data-original-title]').each(function () {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false  // fix for BS 3.3.6
                }

            });
        });

        function fetchNotifications() {

            $.ajax({
                url: "@Url.Action("FetchNotificationAsync", "Home")",
                type: 'POST',
                data: JSON.stringify(""),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.length < 1) {
                        new_notification.css('display', 'none');
                    }
                    var links = "";
                    for (var i = 0; i < response.length; i++) {
                        console.log(response[i].NotifactionContent);
                        links += '<a class="page-link" href="/Home/OpenNotification/' + response[i].Id +'">' +
                            response[i].NotifactionContent + '</a>';

                    }
                    notification.attr("data-content", links);
                }

            });
        }

    </script>

</body>
</html>
